/* index.css */

.footer-container {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 960px;
    margin: 0 auto;
    color:#ff385c;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #333;
  }
  
  .footer-links a:hover {
    color: #007bff;
  }
  